<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>miPushTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65AAD5831FE120CC00E1B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65AAD59C1FE120CD00E1B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65AAD5A71FE120CD00E1B478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
